/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* Theme variables */
:root {
	--bg: #FAFAFA;
	--surface: #FFFFFF;
	--text: #111111;
	--accent-orange: #FF6B00;
  --accent-blue: #00CFFF;
  --accent-orange-dark: #cc5200;
  --accent-blue-dark: #0099CC;
	
	--accent: #0070f3;
	--accent-dark: #0051a3;
	/* --border: #333; */
	--border: #242424;
	--code-bg: #f5f5f5;
	--box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04), 0 8px 24px rgba(0, 0, 0, 0.08);
	--accent-shadow: 0 2px 6px rgba(25, 83, 209, 0.836), 0 8px 24px rgba(9, 125, 219, 0.863);
	--timeline-color: var(--border);
}

html.dark {
	--bg: #0A0A0A;
	--surface: #1A1A1A;
	--text: #FFFFFF;
	--accent: #4ea1ff;
	--accent-dark: #0070f3;
	--border: #e0e0e0;
	/* --border: #333; */
	--code-bg: #222;
	--accent: #FF6B00;
  --accent-blue: #00CFFF;
  --accent-dark: #cc5200;
  --accent-blue-dark: #0099CC;

	--box-shadow: 0 2px 6px rgba(255, 255, 255, 0.24), 0 8px 24px rgba(255, 255, 255, 0.33);
	--accent-shadow: 0 2px 6px rgba(255, 107, 0, 0.836), 0 8px 24px rgba(204, 82, 0, 0.863);
	background-color: var(--bg);
	color: var(--text);
	--timeline-color: var(--border);
}

/* Remove Atkinson font, use monospace */
body {
	font-family: 'Fira Mono', 'Menlo', 'Monaco', 'Consolas', monospace;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--bg);
	color: var(--text);
	font-size: 20px;
	line-height: 1.7;
	word-wrap: break-word;
	overflow-wrap: break-word;
	position: relative;
	min-height: 100vh;
}

header {
	margin: 0;
	padding: 0 1em;
	box-shadow: 0 2px 8px rgba(var(--black), 5%);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav a {
	padding: 1em 0.5em;
	color: var(--black);
	border-bottom:  4px solid transparent;
	text-decoration: none;
}

nav a:hover {
	text-shadow: var(--accent-shadow);
}

nav a.active {
	text-decoration: none;
	border-bottom-color: var(--accent);
	color: var(--accent);
	/* text-shadow: var(--accent-shadow); */
}

.social-links,
.social-links a {
	display: flex;
}

@media (max-width: 720px) {
	.social-links {
		display: none;
	}
}

/* Links */
a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	color: var(--accent-dark);
}


			.timeline-container {
        position: relative;
        width: 100%;
        padding: 2em 0;
				width:720px;
				
      }
			.timeline-container ul {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3em;
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: 1;
      }
      .timeline-line {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10%;
        width: 1px;
        background: linear-gradient(
					to bottom, 
					var(--bg), 
					var(--timeline-color) 10%,
					var(--timeline-color) 90%,
					var(--bg) 100%
					);
        z-index: 0;
        transition: background 0.2s;

      }
      .color-btn {
        padding: 0.5em;
        /* border-radius: 20px; */
        border: none;
        cursor: pointer;
        margin-right: 1em;
        font-size: 1em;
				/* overflow: hidden; */
				position: relative;
				white-space: nowrap;
				min-width: 50px;
				text-align: center;
				color: var(--text);
				background-color: var(--bg);
				

        /* color: #fff; */
        /* font-weight: bold; */
      }
			.color-btn.selected {
				/* background: var(--accent); */
				/* color: var(--text); */
				/* background-color: var(--bg); */
				border-bottom: var(--accent) 4px solid;
					color: var(--accent);
			}
			.color-btn:hover {
				color: var(--accent);
				background-color: var(--bg);
				text-shadow: var(--accent-shadow);
				/* color: #fff; */
			}
			.category-selector {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				margin-bottom: 2em;
			}
			.category-selector span {
				margin-right: 1em;
				color: var(--text);
			}


			.post-entry {
        position: relative;
        margin-left: 15%;
        background: var(--bg);
        /* box-shadow: var(--box-shadow); */
				border: 1px solid var(--border);
        border-radius: 8px;
        padding: 1em;
        display: flex;
        flex-direction: row;
        align-items: self-start;
        flex: 1;
        width: 100%;
      }
      .post-entry:hover {
        box-shadow: var(--accent-shadow);
				border-color: var(--accent);
      }
      .post-entry::before {
        content: '';
        position: absolute;
        top: 2.26em;
        left: -44px;
				display: none ;
        /* width: 16px; */
        /* height: 16px; */
				background: var(--timeline-color);
        border-radius: 50%;
        border: 2px solid var(--timeline-color);
        z-index: 2;
      }
      .post-entry::after {
        content: '';
        position: absolute;
        top: 2.7em;
        left: -36px;
        width: 36px;
        height: 1px;
        background: var(--timeline-color);
        border-radius: 1px;
        z-index: 1;
      }
			.post-image{
				/* width: 100%; */
				height: 100px;
				/* max-height: 300px; */
				object-fit: cover;
				border-radius: 8px;
				margin-bottom: 1em;
			}
			

			@media (max-width: 720px) {
        .timeline-line {
          left: 0;
          width: 4px;
        }
        .post-entry {
          width: 100%;
          margin-left: 32px;
        }
        .post-entry::before {
          left: -24px;
        }
        .post-entry::after {
          left: -8px;
          width: 8px;
        }
      }



      .post-title {
        text-align: left;
        display: flex;
        flex: 1;
      }
      .post-link {
        align-self: flex-end;
        display: flex;
        text-decoration: none;
        color: var(--text);
        flex: 1;
      }
			.post-link:hover {
				color: var(--text);
			}
      .post-date {
				position: absolute;
        font-size: 0.6em;
        text-wrap: wrap;
        padding-right: 5px;
        margin: 10px 10px;
				left: -150px;
				top: 2.85em;
				color: var(--text);
				
      }

.descr {
	margin: 0.5em 0;
	color: var(--text);
	font-size: 0.9em;
	line-height: 1.4;
}


.note {
	display: block;
	padding: 0.5em;
	margin: 1em 0;
	border-left: 4px solid var(--accent);
	background-color: var(--surface);
	box-shadow: var(--box-shadow);
	border-radius: 8px;
	color: var(--text);
	font-size: 1em;
}

.highlight {
	background-color: var(--accent);
	color: var(--text);
	padding: 0 5px;

}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text);
}


/* Code blocks */
code {
	font-size: 0.9em;
	padding: 2px 5px;
	background-color: var(--code-bg);
	border-radius: 2px;
	font-family: inherit;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
	background: var(--code-bg);
	/* box-shadow: var(--box-shadow); */
}

pre>code {
	all: unset;
}

/* Borders and tables */
hr {
	border: none;
	border-top: 1px solid var(--border);
}

table {
	width: 100%;
	border-collapse: collapse;
	background: var(--bg);
	color: var(--text);
}

th,
td {
	border: 1px solid var(--border);
	padding: 0.5em;
}

main {
	width: 980px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
	padding-bottom: 20vh;
	/* min-height: 55vh; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}

h1 {
		font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

img {
	max-width: 100%;
	/* width: 50px; */
	height: auto;
	max-height: 500px;
	/* height: 1/2vh; */
	object-fit: contain;
	border-radius: 8px;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	/* font-size: 1.333em; */
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}